<center><h1>Liste en cours</h1></center>
<hr>
<table class="centered">
    <thead>
        <tr>
            <th>Shop</th>
            <th>Date</th>
            <th>Nombre d'articles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="lists">

    </tbody>
</table>
<div id="tableSharedList" style="margin: 100px 0px;display: none">
   <center> <h2>Liste Partagé avec moi</h2></center>
    <hr>
    <table class="centered">
        <thead>
        <tr>
            <th>Shop</th>
            <th>Date</th>
            <th>Nombre d'articles</th>
            <th>Proprietaire</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="sharedLists">

        </tbody>
    </table>

</div>